
<h2>Your friend <%= @sender.full_name.titleize %> has invited you to plan a trip with them using Travel Shepherd!</h2>
<p>To sign up, go to [link] and login using your temporary password.</p>
<h3>Happy travels!</h3>
