
<h2>Your friend <%= @sender.full_name.titleize %> has invited you to plan a trip with them using Travel Shepherd!</h2>
<p>To accept, click HERE and sign in using the temporary password "<%= @temp_pass %>"</p>
<h3>Happy travels!</h3>
