:root {
   --primary-bg-color: #214E34;
   --light-bg-color: #f8f1e9;
   --primary-color: #377350;
   --secondary-color: #6a9a7f;
   --accent-color: #CD7027;
   --first-color: #214E34;
   --second-color: #145363;
   --third-color: #fe703c;
   --fourth-color: #ff9a3c;
   --fifth-color: #ffc93b;
   --sixth-color: #f8f1e9;
}

html, body {
   text-align: center;
}

/* fonts */

h1 {
   color: var(--sixth-color);
   font-weight: bold;
   font-family: 'Sansita Swashed', cursive;
}

nav, .nav-link {
   color: var(--sixth-color);
   font-family: 'Poppins', sans-serif;
}

#root {
   height: 100vh;
   overflow: hidden;
   position: relative;
}

#root button.btn {
   margin: 0.2rem;
}

#root button.btn-primary,
#root button.btn-primary:active {
   background-color: var(--primary-color);
   border-color: var(--primary-color);
}

#root button.btn-primary:hover,
#root button.btn-primary:focus-within,
#root button.btn-primary:focus-visible {
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
}

#root button.btn-primary:focus-within,
#root button.btn-primary:focus-visible {
   box-shadow: 0 0 0 0.25rem var(--primary-color);
}

#footer {
   /* position: absolute;
   bottom: 0;
   left: 0; */
   text-align: right;
   width: 100%;
}