#root > div {
   height: 100vh;
}

div.row {
   height: 100%;
}

div.col {
   display: flex;
   align-items: center;
   justify-content: center;
}

div#login {
   background-color: white;
}

div#login > form {
   margin: 1rem;
   min-width: 250px;
   max-width: 400px;
   width: 100%;
}

div#login form .input {
   width: 100%;
}

div#login > form button {
   margin: auto;
   min-width: 150px;
   width: 60%;
}