:root {
   --primary-bg-color: #214E34;
   --light-bg-color: #f8f1e9;
   --primary-color: #377350;
   --secondary-color: #6a9a7f;
   --accent-color: #CD7027;
   --first-color: #214E34;
   --second-color: #145363;
   --third-color: #fe703c;
   --fourth-color: #ff9a3c;
   --fifth-color: #ffc93b;
   --sixth-color: #f8f1e9;

   --card-default-border-radius: 1rem;
   --container-default-border-radius: 1rem;
}

html, body {
   text-align: center;
}

/* fonts */

h1 {
   color: var(--sixth-color);
   font-weight: bold;
   font-family: 'Sansita Swashed', cursive;
   margin-bottom: 2rem;
}
div#header h1 {
   margin-bottom: 0;
}

nav,
.nav-link {
   color: var(--sixth-color);
   font-family: 'Poppins', sans-serif;
}

#root {
   height: 100vh;
   overflow: hidden;
   position: relative;
}

#root button.btn {
   margin: 0.2rem;
}

#root .btn-group button.btn {
   margin-left: 1px;
   margin-right: 1px;
}

#root button.btn-primary,
#root button.btn-primary:active {
   background-color: var(--primary-color);
   border-color: var(--primary-color);
}

#root button.btn-primary:hover,
#root button.btn-primary:focus-within,
#root button.btn-primary:focus-visible {
   background-color: var(--secondary-color);
   border-color: var(--secondary-color);
}

#root button.btn-primary:focus-within,
#root button.btn-primary:focus-visible {
   box-shadow: 0 0 0 0.25rem var(--primary-color);
}

#root button.btn-add-activity {
   background-color: white;
   border-radius: 100%;
   border: 1px solid black;
   position: absolute;
      bottom: 1vh;
      right: 1vw;
   transition: all 0.2s;
   margin: 0px;
   padding: 0px;
   height: 38px;
   width: 38px;
   z-index: 1;
}

#root button.btn-add-activity:hover {
   color: var(--second-color);
   border-color: var(--second-color);
   transform: scale(1.1);
}

#footer {
   /* position: absolute;
   bottom: 0;
   left: 0; */
   text-align: right;
   width: 100%;
}

/* dropdowns */

div.dropdown-container {
   position: relative;
   display: block;
   margin: 0;
   padding: 0;
}

div.dropdown-list {
   background-color: white;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
   line-height: 2rem;
   margin: 0.5rem;
   margin-top: 0;
   max-height: 40vh;
   overflow: scroll;
   padding: 0.5rem;
   position: absolute;
   text-align: left;
   max-width: 50%;
   z-index: 1;
}

div.dropdown-list-item {
   border-radius: 0.5rem;
   padding: 0 0.5rem;
}

div.dropdown-list-item:hover {
   background-color: #6a9a7f7d;
}