div.card {
   border-width: 2px;
   border-radius: 1rem;
   min-width: 225px;
   max-width: 350px;
}

div.card:hover {
   border-color: var(--accent-color);
}

div.card > ul.list-group {
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.125);
}

div.card > ul.list-group > li.list-group-item {
   text-align: right;
}

.rounded-pill {
   background-color: var(--secondary-color);
}