:root {
   --card-border-width: 2px;
}

div.card {
   border-width: var(--card-border-width);
   border-radius: var(--card-default-border-radius);
   cursor: pointer;
   min-width: 225px;
   max-width: 350px;
   margin-left: auto;
   margin-right: auto;
}

div.card:hover {
   border-color: var(--accent-color);
}

div.card div.col {
   padding: 0;
}

div.card > img.card-img-top {
   border-radius: calc(var(--card-default-border-radius) - var(--card-border-width));
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

div.card h5.card-title {
   margin-bottom: 0;
}

div.card h6.card-subtitle {
   margin-top: 0.2rem;
}

div.card > ul.list-group {
   border-width: 1px;
   border-color: rgba(0, 0, 0, 0.125);
}

div.card > ul.list-group > li.list-group-item {
   text-align: right;
}

div.card > ul.list-group > li.list-group-item:last-child {
   border-bottom-left-radius: var(--card-default-border-radius);
   border-bottom-right-radius: var(--card-default-border-radius);
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

.rounded-pill {
   background-color: var(--secondary-color);
}

div.card.invite-card {
   cursor: auto;
}

div.card.traveler-card {
   cursor: auto;
}

div.card.traveler-card div.card-body {
   cursor: pointer;
}