form .form-floating textarea.form-control {
   height: calc(3rem + 3rem + 2px); /* desired height + padding for text area & floating label */
}

form .row {
   margin-bottom: 1rem;
}

form h3,
form h4,
form h5,
form h6 {
   text-align: left;
}

div#trip-invite-container .col,
div#trip-invite-container .col-auto,
form#trip-invite-form .col,
form#trip-invite-form .col-auto {
   padding: 0.25rem 0.5rem;
   text-align: left;
}
div#trip-invite-container .btn,
form#trip-invite-form .btn {
   margin: 0px;
}

/* validity styling */
form div {
   transition: 0.5s ease;
}
form .invalid {
   border-color: var(--accent-color);
}

/* TRIP FORMS */

form#new-trip-form h2,
form#edit-trip-form h2 {
   margin-bottom: 2rem;
}
form#new-trip-form h4,
form#edit-trip-form h4 {
   margin-bottom: 2rem;
}

   /* New Trip Form */

   form#new-trip-form > .container {
      max-width: 600px;
   }
   form#new-trip-form .btn-outline-primary {
      margin: 0rem 0.5rem;
      min-width: auto;
      width: 8ch;
   }
   form#new-trip-form .invalid .vote-label-col label {
      color: black;
      text-decoration: underline solid var(--accent-color) 2px;
   }
   form#new-trip-form .invalid .btn-outline-primary {
      border-color: var(--accent-color);
   }
   form#new-trip-form div.vote-btn-col {
      text-align: left;
   }
   form#new-trip-form div.vote-label-col {
      display: flex;
      align-items: center;
      justify-content: right;
   }

   /* Edit Trip Form */

   form#edit-trip-form > .container {
      max-width: 800px;
   }
   form#edit-trip-form div.vote-btn-col {
      padding: 0px;
      text-align: justify;
   }
   form#edit-trip-form div.vote-label-col {
      display: flex;
      align-items: center;
      justify-content: left;
   }
   form#edit-trip-form div.vote-btn-col div.col,
   form#edit-trip-form div.vote-label-col div.col {
      padding: 0rem 0.2rem;
   }
   form#edit-trip-form div.vote-btn-col div.col > *,
   form#edit-trip-form div.vote-label-col div.col > * {
      width: 100%;
   }
   form#edit-trip-form div.vote-btn-container > div.row,
   form#edit-trip-form div.vote-btn-col > div.container > div.row {
      margin-bottom: 0px;
   }
   form#edit-trip-form div.action-btns-row div.col:first-child {
      text-align: left;
   }
   form#edit-trip-form div.action-btns-row div.col:last-child {
      text-align: right;
   }

      /* Edit Trip DatePicker Component */

      form#edit-trip-form div.react-datepicker-wrapper input {
         border: none;
         width: 100%;
      }

   /* Invite Form */

   div#trip-invite-container,
   form#trip-invite-form {
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
   }


.modal-body {
   text-align: center;
}

.spring-list {
   margin: 12vh auto;
}
.spring-item div {
   width: 280px;
   padding: 24px;
   margin: 4px;
   text-align: center;
   background: rgba(255, 255, 255, 0.96);
   border-radius: 4px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   cursor: all-scroll;
   user-select: none;
   transition: 0.2s;
}
.spring-item[data-active='true'] div {
   background: rgba(255, 255, 255, 0.88);
   box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
   transform: scale(1.05);
}