div#home-page h1 {
   color: var(--accent-color);
}

div#home-page {
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

div#home-page-outlet {
   background-color: white;
   border-radius: var(--container-default-border-radius);
   max-width: 600px;
   padding: 2rem;
}

form#signup-form .row {
   margin-bottom: 0px;
}

form#signup-form .col {
   padding: 0px;
}

form#signup-form div.input {
   margin: 0rem 0.5rem;
}

form div {
   transition: 0.5s ease;
}
form div.invalid {
   color: var(--accent-color);
}
form div.invalid input{
   border-color: var(--accent-color);
}