div#home-page h1 {
   color: var(--accent-color);
}

div#home-page {
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
}

div#home-page-outlet {
   background-color: white;
   border-radius: var(--container-default-border-radius);
   max-width: 600px;
   padding: 2rem;
}

div#home-page-outlet form .btn {
   margin: 0px;
   width: 100%;
}

div#home-page-outlet form .row {
   margin: 0px;
}

div#home-page-outlet form .btn-row {
   margin-bottom: 0px;
   margin-top: 0.5rem;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0.25rem;
   width: 100%;
}

div#home-page-outlet form .col,
div#home-page-outlet form .col-auto {
   padding: 0px 0.5rem;
}

form#signup-form div.input {
   margin: 0px;
}

form div {
   transition: 0.5s ease;
}
form div.invalid {
   color: var(--accent-color);
}
form div.invalid input{
   border-color: var(--accent-color);
}